<h1>Ember ECSY Babylon</h1>

<p>Declarative and reactive layer on top of <a href="https://githuc.com/kaliber5/ecsy-babylon" rel="noreferrer noopener">ecsy-babylon</a></p>

<h2>Demos</h2>

<ul>
  <li><LinkTo @route="playground">Playground</LinkTo></li>
  <li><LinkTo @route="xr" @query={{hash mode="vr"}}>WebXR VR mode</LinkTo></li>
  <li><LinkTo @route="xr" @query={{hash mode="ar"}}>WebXR AR mode</LinkTo></li>
</ul>